
<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">  Vota Por tu Enlace</a>
</nav>


<div class="container p-4">
  <div class="row">
    <!-- FORM -->
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <form class="card-body">
          <h3 class="card-title">Añade un Link</h3>
          <label for="title">Titulo</label>
          <input type="text" name="title" #newtitle class="form-control" autofocus>

          <label for="link">Link</label>
          <input type="text" name="link" #newlink class="form-control">

          <button (click)="addLink(newtitle, newlink)" class="btn btn-primary btn-block mt-4">
            Subir Link
          </button>
        </form>
      </div>
    </div>
  </div>
  <!-- LINKS -->
  <app-link *ngFor="let link of sortedLinks()" [link]="link"></app-link>
</div>



